@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,600;1,700&family=Montserrat:wght@500&family=Varela+Round&display=swap");
s .Homepage {
    /*background-color: yellow;*/
    //font-family: adobeJenson;
    src: url(../fonts/adobe-jenson.otf);
}

.Homepage .mainpage {
    padding: 10px;
    border: 1px solid black;
    height: 500px;
}



