@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,600;1,700&family=Montserrat:wght@500&family=Varela+Round&display=swap");

/*  The star * property applies to everything. 
This effects the entire page including the nav bar. Remove "margin: 0" to see
what I mean. */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* NAVIGATION BAR -------------------------------------------------------------------------/
/* References the entire horizontal header bar on the top of the page that contains React's 
<Links> and html's list items <li>*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    /*background: tan;*/
    background-color: #006a31;
    height: 90px;
}

/* The li below references all the list items <li> on the page. So basically anything 
that is wrapped with the <li></li> tag (Located in my NavBar.js file) */
li {
    font-weight: 500;
    font-size: 15px;
    color: #edf0f1;
    text-decoration: none;
    display: inline-block;
    padding: 0px 30px;
    transition: all 0.4s ease 0s;
    /*background-color: #24252A;*/
}

.blackNav {
    box-sizing: border-box;
    display: flex;
    padding-top: 5.5px;
    height: 35px;
    width: 100%;
}

.nav-links {
    display: flex;
    position: relative;
    margin-left: 385px;
    font-family: "Open Sans", sans-serif;
}

/* References the things wrapped with React's <Link> tag. On hover the link changes color */
.nav-links :hover {
    color: #0088a9;
}

.site-title {
    display: flex;
    justify-content: left;
}

.websiteName {
    color: white;
    margin-left: 10px;
    font-family: "Open Sans", sans-serif;
}

.websiteName .unt {
    font-size: 15px;
}

.websiteName .collegeName {
    font-size: 35px;
}

/* This references the logo picture*/
.logo {
    cursor: pointer;
    height: 150px;
    width: 130px;
    margin-top: 80px;
}

.blackNav {
    background-color: black;
}
/* NAVIGATION BAR -------------------------------------------------------------------------*/

/* HOME PAGE -------------------------------------------------------------------------*/
.Homepage {
    /*background-color: yellow;*/
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;

    padding: 20px;
    padding-top: 50px;
    box-sizing: border-box;


    font-family: adobeJenson;
    src: url(fonts/adobe-jenson.otf);
    text-align: center;
}

.Homepage div{
    padding: 10px;
    border: 1px solid black;
    height: 500px;
}
/* HOME PAGE -------------------------------------------------------------------------*/

/* CREATE PAGE -------------------------------------------------------------------------*/
.Createpage {
    /*background-color: yellow;*/

    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 18px;

    /* causes the page to use the grid layout defined below */
    display: grid;

    /* if you specify fr, it means that that section will adjust when you resize the browser, if you put px, it doesnt resize*/
    grid-template-columns: 1fr 1fr; /* creates 2 equally divided sections on the page. You also could type "repeat(2, 1fr)". Where 2 is the # of sections and 1fr is the size*/
    grid-template-rows: 1fr; /* 3 row sections with top and bottom fixed*/
    gap: 10px; /* determines gap between section boxes. Excludes the edges touching the side of that object's container*/

    padding: 20px; /* space between that element and its outer container */
    padding-top: 50px; /* extra padding on the top to avoid the UNT logo */

    box-sizing: border-box;
    /* If you had a container with "box-sizing: content-box" with a height of say 400px, and you add a padding of 10px, it causes 
      that container's height to be 410px, not 400px with a padding of 10px. So to fix you change to "box-sizing: border-box". This
      gives you a 400px container box with 10px padding. */
}

/* any .div in the Createpage container will have these properties.
So in this instance this effects every input field since I am surrounding every HTML 
input form element with a div. */
.Createpage div {
    padding: 10px;
    border: 1px solid black;
}

/* This effects the input form fields. Putting input box's width at 100 to make its label 
go on top. This makes the form look even*/
.Createpage input {
    width: 100%;
}


.Createpage .Form-header {
    /* When you have a grid layout, there are lines that divide every section. So if have a page that is divided into 2 even column sections, there are actually 3 vertical lines on the page.
    1 line on the left, 1 line in the middle dividing the 2 sections, and 1 line on the right. Column start/end and Row start/end uses these lines to determine how far an element stretches. 
    In my case, I want my input fields to be on the left section of the page so I put column start at line 1 on the left and column end on line 2 that is in the middle dividing the 2 sections. 
    (Same for rows) */
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 1;
}

/* CREATE PAGE -------------------------------------------------------------------------*/

.Findpage-form {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 18px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
}

/*
NOTES for certain properties if you are confused:
transition: sets a timer for any transitions that happens on that object (link changing color when hovered on)
*/

/*
.Createpage input {
    width: 100%;
    padding: 8px 10px 10px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
*/